.container
            {
                width: 2000px;
                margin: 0 auto;
            }
            
.ex1
            {
                margin-top: 3cm;
                margin-left: 5cm;
            }

.ex2
            {
                font-face: Times New Roman;
                font-size: 5;
                text-align: right;
                margin-right: 2cm;
            }

.wrapper
            {
                text-align: center;
            }

.button
            {
                top: 50%;
                width: 600px;
                height: 3em;
                background-color: black;
                color: white;
            }
            
@media all and (max-width: 1000px) 
            {
                .container
                {
                    width: 100%;
                }
            }